@import url('https://fonts.googleapis.com/css?family=Quando|Lato');
.logo {
    width: 100px;
    margin: 15px;
}
nav a{
    text-align: center;
    color: #01BAEF;
    text-decoration: none;
    padding: 50px;
    background-color: #344966;
    width: 80px;
}
nav a:hover {
    background-color: #0CBABA;
    color: white;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Lato', Tahoma, sans-serif;
    font-size: 20px
}
img {
    width: 350px;
}
header {
    display:flex;
}
.home-title{
    text-align: center;
    padding-top: 150px;
    font-family: 'Quando', Tahoma, sans-serif;
}
.hello-text{
    font-size: 20px;
    width: 50%;
    margin: 30px
}
.hello{
    display: flex;
}
.hello-img{
    width: 50%;
    margin: 30px
}
.school-text{
    font-size: 20px;
    width: 50%;
    margin: 30px
}
.school{
    display: flex;
}
.school-img{
    width: 50%;
    margin: 30px
}
footer{
    background-color: #01BAEF;
    text-align: center;
    font-size: 25px;
    font-family: 'Quando', Tahoma, sans-serif;
}
.social{
    display: grid;
    grid-template-rows: 1fr;
}
.face, .twit, .inst{
    width: 100px;
}
.face{
    grid-column: 2/3;
    padding-left: 50px;
}
.twit{
    grid-column: 5/6;
    margin-left: 100%;
}
.inst{
    grid-column: 6/7;
    padding-right:40px;
}
.my-life-title{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Quando', Tahoma, sans-serif;
}
.life-images{
    display: flex;
}
.homeschool-img{
    width: 50%;
    height: 450px;
    margin: 50px;
}   
.scouts-img{
    height: 450px;
    width:40%;
    margin: 50px;
}
.life-titles{
    display:flex;
}
.homeschool-title{
    padding: 50px;
    text-align: center;
    width: 50%;
    font-family: 'Quando', Tahoma, sans-serif;
    background-color: #344966;
    color:#01BAEF;
}
.scouts-title{
    padding: 50px;
    text-align: center;
    width: 50%;
    font-family: 'Quando', Tahoma, sans-serif;
    background-color: #344966;
    color:#01BAEF;
}
.life-text{
    display:flex;
}
.homeschool-text{
    padding: 40px;
    text-align: center;
    width: 50%;
    font-family: 'Lato', Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 150px;
    background-color: #0D1821;
    color: white;
}
.scouts-text{
    padding: 40px;
    text-align: center;
    width: 50%;
    font-family: 'Lato', Tahoma, sans-serif;
    font-size: 18px;
    background-color: #0D1821;
    margin-bottom: 150px;
    color: white;
}
.jobs-title{
    text-align: center;
    padding-top: 120px;
    font-family: 'Quando', Tahoma, sans-serif;
    padding-bottom: 45px;
}
.lifeguarding-text{
    font-size: 20px;
    width: 50%;
    margin: 30px;
    margin-bottom: 100px;
}
.lifeguarding{
    display: flex;
}
.lifeguarding-img{
    width: 50%;
    margin: 30px;
    margin-bottom: 100px;
}
.innout-text{
    font-size: 20px;
    width: 50%;
    margin: 30px;
    color: white;
}
.innout{
    display: flex;
    background-color: #344966;
}
.innout-img{
    width: 50%;
    margin: 30px;
}
.coding-text{
    font-size: 20px;
    width: 50%;
    margin: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.coding{
    display: flex;
}
.coding-img{
    width: 50%;
    margin: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
}